RewriteEngine On
#RewriteRule index.cgi /fastscripts/src/ [R=301,L]
#RewriteRule ^admin/$ index.cgi/admin/ [L]
RewriteRule ^([^/]+)/$ index.cgi/$1/ [L]
RewriteRule ^([^/.]+)$ /fastscripts/src/$1/ [R=301,L]
