RewriteEngine On
RewriteRule ^generator/([^/]+)$ index.cgi/generator/$1 [QSA,L]

RewriteRule ^([^/.]+)$ /fastscripts/src/$1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.cgi/$1/ [QSA,L]