body {background: #DBEBF0; font-family: 'segoe ui', arial, verdana; font-size: 11pt; color: #595959}
table, div {font-size: 11pt; color: #595959}
table {border-spacing: 0}

a:link, a:visited {text-decoration: none; color: #4C4674}
a:hover {color: #3B879F; text-decoration: underline}
a:active {outline: 0}

.skin_tbl {width: 95%}
pre {background-color: #F0F5FA; border: 1px solid #C2CFDF; color: #222; text-align: left; width: 60%; margin: auto; padding: 5px; word-wrap: break-word; white-space: pre-wrap}

/* BARRA ATTORNO AL FORUM */
.mtitle, .mtitle a:link, .mtitle a:visited, .title2, .title2 a:link, .title2 a:visited, .title3, .title3 a:link, .title3 a:visited, .darkbar, .darkbar a:link, .darkbar a:visited {font-size: 11pt; font-weight: bold; color: #576F14; text-shadow: 0 1px 1px #EBF268}

.mback, .title2, .darkbar, .title3 {height: 36px; background: #C5D72C url(http://digilander.libero.it/woso/funk/mback.png) top center repeat-x}
.mback_left {width: 8px; background: url(http://digilander.libero.it/woso/funk/mback_left.png) top left no-repeat}
.mback_right {width: 8px; background: url(http://digilander.libero.it/woso/funk/mback_right.png) top right no-repeat}

.title2, .darkbar, .title3 {padding-top: 4px; height: 31px; background-position: bottom}

.mleft_top {width: 10px; background: url(http://digilander.libero.it/woso/funk/mleft_top.png) top right no-repeat}
.mleft, .sep_left {width: 10px; background: url(http://digilander.libero.it/woso/funk/mleft.png) top right repeat-y}
.mleft_bottom {background: url(http://digilander.libero.it/woso/funk/mleft_bottom.png) top right no-repeat}

.mright_top {width: 10px; background: url(http://digilander.libero.it/woso/funk/mright_top.png) top left no-repeat}
.mright, .sep_right {width: 10px; background: url(http://digilander.libero.it/woso/funk/mright.png) top left repeat-y}
.mright_bottom {background: url(http://digilander.libero.it/woso/funk/mright_bottom.png) top left no-repeat}

.msub {height: 12px; background: url(http://digilander.libero.it/woso/funk/msub.png) top repeat-x}
.msub_left, .msub_right {width: 1px; background: url(http://digilander.libero.it/woso/funk/msub_lat.png) top left no-repeat}
.msub_right {background-position: top right}

.skin_tbl_border, .mainbg {background: #FAFAFA}
.title, .sunbar, .row2 {height: 22px; background: #3E3B50 url(http://digilander.libero.it/woso/funk/title.png) top center repeat-x; height: 22px}
